includeConfig "${projectDir}/configs/process.config"
includeConfig "${projectDir}/configs/nextflow.config"

params {

  run {
    snvs = true
    QC = true 
    svs = true
    indels = true
    cnvs = true
  }

  // TRAINING
  train {
    version = '2.0.0'
  }
  pta_vcfs_dir = ''
  nopta_vcfs_dir = ''
  // END TRAINING

  // TESTING
  input_vcfs_dir = '/lustre/scratch125/casm/teams/team268/at31/nextflow/external/PTATO/demo/input/vcf'
  bams_dir = '/lustre/scratch125/casm/teams/team268/at31/nextflow/external/PTATO/demo/input/bams'
  // END TESTING

  out_dir = ''
  bulk_names = [
    ['donor1', 'PMCAHH1-WT-C6'],
    ['donor1', 'PMCAHH1-WT-C6SC1'],
  ]

  shapeit {
    chroms = "/lustre/scratch125/casm/teams/team268/at31/nextflow/external/PTATO/demo/resources/hg38/shapeit/chromosomes.txt"
  }

  snvs {
    rf_rds = "/lustre/scratch125/casm/teams/team268/at31/nextflow/external/PTATO/resources/hg38/snvs/randomforest/randomforest_v1.0.0.rds"
  }

  indels {
    rf_rds = ''
    excludeindellist = "/lustre/scratch125/casm/teams/team268/at31/nextflow/external/PTATO/resources/hg38/indels/excludeindellist/PTA_Indel_ExcludeIndellist_normNoGTrenamed.vcf.gz"
  }
  optional {

    germline_vcfs_dir = ''
    callableloci_dir = ''
    autosomal_callable_dir = ''
    walker_vcfs_dir = ''

    short_variants {
      somatic_vcfs_dir = ''
      phased_vcfs_dir = ''
      ab_tables_dir = ''
      context_beds_dir = ''
      features_beds_dir = ''
    }

    snvs {
      rf_tables_dir = ''
      ptato_vcfs_dir = ''
    }

    indels {
      rf_tables_dir = ''
      ptato_vcfs_dir = ''
    }

    qc {
      wgs_metrics_dir = ''
      alignment_summary_metrics_dir = ''
    }

    svs {
      gridss_driver_vcfs_dir = ''
      gridss_unfiltered_vcfs_dir = ''
      gripss_somatic_filtered_vcfs_dir = ''
      gripss_filtered_files_dir = ''
      integrated_sv_files_dir = ''
    }

    cnvs {
      cobalt_ratio_tsv_dir = ''
      cobalt_filtered_readcounts_dir = ''
      baf_filtered_files_dir = ''
    }
  }

}

singularity {
  runOptions = '--bind /nfs,/lustre'
  cacheDir = '/nfs/casm/team268im/at31/singularity/cache/'
}

process {
  memory = '4 GB'
  container = 'file:///nfs/casm/team268im/at31/singularity/ptato_1.2.0.sif'
  withName: 'SnpSift' {
    container = 'file:///nfs/casm/team268im/at31/singularity/davelabhub-snpsift-4.3.1t--1.img'
  }
}